<div class="container-fluid pt-5 bg-oscuro">
  <app-nadvar></app-nadvar>
<div class="row">
  <div class="col-1">
    <app-left-menu></app-left-menu>
  </div>
  <div class="col-10 ">
    <router-outlet></router-outlet>

  </div>
</div>

</div>



<!-- <div class="page-container">
  <div class="content ">
    <mat-drawer-container *ngIf="!isMobile" class="example-container ">
      <mat-drawer
        #drawer
        class="example-sidenav "
        mode="side"
        [opened]="drawerOpened"
      >
        <app-left-menu></app-left-menu>
      </mat-drawer>

      <button type="button" mat-stroked-button (click)="toggleDrawer()">
        <span class="material-symbols-outlined spa">
          {{ !drawerOpened ? "arrow_menu_open" : "arrow_menu_close" }}
        </span>
      </button>
    </mat-drawer-container>

    <section class="container">
      <router-outlet></router-outlet>
    </section>
  </div>
  <app-footer></app-footer>
</div> -->
