.content {
  overflow-y: auto;  /* Habilita el scroll vertical si el contenido excede el tamaño */
  padding-right: 10px; /* Espacio extra para el scroll */
  scrollbar-width: thin; /* Estilo del scroll en Firefox */
  scrollbar-color: #888 #ccc; /* Colores personalizados para el scroll en Firefox */
}

/* Para personalizar el scroll en navegadores basados en Webkit (Chrome, Safari, Edge) */
.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
}

.content::-webkit-scrollbar-track {
  background-color: red;
}
 
.image-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-card img {
  border-radius: 10px;

  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
}

.card-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.card-info p {
  margin: 0;
  font-size: 14px;
  color: #666;
}