<div class="spinner-overlay bg-oscuro" *ngIf="spinner">
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
</div>
<section class="fondo row ">

  
    <div class=" mt-5 pt-5 col-md-5" *ngIf="!spinner">
        <div class="d-flex align-items-center mb-2">
          <!-- Imagen -->
          <img 
          *ngIf="imagePreview" 
          [src]="imagePreview" 
          alt="Previsualización" 
          class="img-circle-fixed-big me-3"

        />
        <img 
          *ngIf="!imagePreview" 
          [src]="userProfile?.img" 
          alt="Previsualización" 
          class="img-circle-fixed-big img-fluid me-3"
 
        />
          <!-- Texto -->
          <div>
            <h4 class="mb-1 text-white">{{userProfile?.name}} {{userProfile?.lastname}}</h4>
            <p class="text-muted">50 amigos</p>
          </div>
        </div>
        
      </div>
    <div class="d-flex align-items-end text-end d-flex justify-content-end mb-2 col-md-5" *ngIf="userIsLogin">
          <form enctype="multipart/form-data" >
            <button
              mat-flat-button
              type="button"
              (click)="triggerFileInput($event)"
            >
            <mat-icon>insert_photo</mat-icon>
            Editar imagen
            </button>
            {{ imagePreview ? this.file.name: '' }}
            <input
              type="file"
              id="fileInput"
              accept="image/*"
              hidden
              (change)="onFileSelected($event)" 
            />
          </form>
          <button mat-button (click)="openDialog()" *ngIf="!imagePreview" >
            <mat-icon>edit</mat-icon>
            <span class="d-none d-sm-block">Editar perfil</span>
          </button>          
          <button mat-button (click)="changeImg()" *ngIf="imagePreview" >
            <mat-icon>edit</mat-icon>
            <span class="d-none d-sm-block">Actualizar</span>
          </button>
      </div>
    <div class="d-flex align-items-end text-end d-flex justify-content-end mb-2 col-md-5" *ngIf="!userIsLogin">
      <button mat-button color="primary" >
        <span class="material-icons">person_add</span> &nbsp; Seguir
      </button>
    </div>

</section>
<section class="my-2">
    <div class="row">
      <div class="col-3 col-md-2 text-center" [ngClass]="{'border-bottom2': activeButton === 0}" >
        <button mat-button (click)="setActiveButton(0)" style="width: 100%;">
          <mat-icon>info</mat-icon>
          <span class="d-none d-md-block">Información</span>
        </button>
      </div>
      <div class="col-3 col-md-2 text-center" [ngClass]="{'border-bottom2': activeButton === 1}">
        <button mat-button (click)="setActiveButton(1)" style="width: 100%;">
          <mat-icon>event_available</mat-icon>
          <span class="d-none d-md-block">Acontecimientos</span>
        </button>
      </div>
      <div class="col-3 col-md-2 text-center" [ngClass]="{'border-bottom2': activeButton === 2}">
        <button mat-button (click)="setActiveButton(2)" style="width: 100%;">
          <mat-icon> local_play</mat-icon>
          <span class="d-none d-md-block">Estadisticas</span>
        </button>
      </div>
    </div>
  </section>
  
  <section>
    <app-information *ngIf="activeButton === 0" [user] = "userProfile"></app-information>
  </section>