<div class="card-p">
  <div class="row">
    <div class="col-lg-2 border-e">
      <nav class="menu-left">
        <ul>
          <li
            (click)="setActiveButton(0)"
            [ngClass]="{ liactive: activeButton === 0 }"
          >
            General
          </li>
          <li
            (click)="setActiveButton(1)"
            [ngClass]="{ liactive: activeButton === 1 }"
          >
            Formación
          </li>
          <li
            (click)="setActiveButton(2)"
            [ngClass]="{ liactive: activeButton === 2 }"
          >
            Empleabilidad
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-10">
      <mat-list role="list" *ngIf="activeButton === 0">
        <mat-list-item role="listitem">
          <button mat-button disabled>
            <mat-icon>person</mat-icon>
            <span class="d-none d-sm-block">Su nombre completo es: </span></button
          >{{ userFormat?.name }} {{ userFormat?.lastname }}
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button disabled>
            <mat-icon>trip_origin</mat-icon>
            <span class="d-none d-sm-block">Es </span></button
          >{{ userFormat?.sex }}
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button disabled>
              <mat-icon>cake</mat-icon>
              <span class="d-none d-sm-block">Cumple el  </span></button
            >{{ userFormat?.createAt || "Oculto" }}
          </mat-list-item>
        <mat-list-item role="listitem">
          <div class="row">
            <div class="col">
              <button mat-button disabled>
                <mat-icon>business_center</mat-icon>
                <span class="d-none d-sm-block">Su prfesión es </span></button
              >{{ userFormat?.pro }} 
            </div>
            <div class="col text-end">
              <button mat-icon-button (click)="openDialog('pro')">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button disabled>
            <mat-icon>mail</mat-icon>
            <span class="d-none d-sm-block">Su mail es </span></button
          >{{ userFormat?.email }}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="row">
            <div class="col">
              <button mat-button disabled>
                <mat-icon>add_location</mat-icon>
                <span class="d-none d-sm-block">Vive en </span></button
              >{{ userFormat?.city  }}
            </div>
            <div class="col text-end">
              <button mat-icon-button (click)="openDialog('city')">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>

      <mat-list role="list" *ngIf="activeButton === 1">
        <mat-list-item role="listitem">
          
          <div class="row">
            <div class="col">
              <button mat-button disabled>
                <mat-icon>school</mat-icon>
                <span class="d-none d-sm-block">Estudió </span></button
              >{{ userFormat?.study}}
            </div>
            <div class="col text-end">
              <button mat-icon-button (click)="openDialog('study')">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div class="row">
                <div class="col">
                  <button mat-button disabled>
                    <mat-icon>school</mat-icon>
                    <span class="d-none d-sm-block"> Cursó  </span></button
                  >{{ userFormat?.curs}}
                </div>
                <div class="col text-end">
                  <button mat-icon-button (click)="openDialog('curs')">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
        </mat-list-item>
      </mat-list>
      <mat-list role="list" *ngIf="activeButton === 2">
        <mat-list-item role="listitem">
            <div class="row">
                <div class="col">
                  <button mat-button disabled>
                    <mat-icon>business_center</mat-icon>
                    <span class="d-none d-sm-block">Trabaja en  </span></button
                  >{{ userFormat?.job }}
                </div>
                <div class="col text-end">
                  <button mat-icon-button (click)="openDialog('job')">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
